body {
    background: #121212;
    text-align: center;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
}

h2 {
    text-align: left;
}

ul {
    text-align: justify-all;
    list-style-position: inside;
}